# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
